<section class="banner-section">
</section>
<div class="heading">
<p>About us</p>
<span style="font-family:sans-serif;font-size:20px;color:#e5dfdf;text-indent: 200px ; text-decoration:none ;"><p>According to the the surveys of united nations food wastage stand third postion in rankilist of most dangerous problem faced by the world globally.on this most wastage part comes in the consumer side so we the BellyBox developers have decided to make a solution to this problem by creating our esteemed webaplication Bellybox.Bellybox act as an intermediate between people with excess to the most needy people.By using this application the user can share their excess food items to the public with price or for free,we also provide an oppurtunity for the user to donate food for charity organization/shelterhomes & as a part of our hero section user can serve the society by collecting food from the donors and distribute it to the weakers sections i the soceity.There are 5 modules or plateform list with details below</p></span>
</div>
<div class="content">
  
   
    <div class="how-section1">
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="/assets/images/donor1.jpg" class="rounded-circle img-fluid" alt=""/>
            </div>
            <div class="col-md-6">
                <h4>DONOR</h4>
                            <h4 class="subheading">PEOPLE WITH BIG HEART TO DONATE</h4>
            <p class="text-muted">By loging In to this module user can share their food items to the society.User can donate or can charged for sharing their food items.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>EATER</h4>
                            <h4 class="subheading">PEOPLE WITH EMPTY BELLIES ARE CALLED EATER</h4>
                            <p class="text-muted">By loging In to this module user can find available food items shared by donors.Food items can be charged or can be free.if user is interested in a deal can find contact details of donor and can contact directly </p>
            </div>
            <div class="col-md-6 how-img">
                <img src="/assets/images/eater.jpeg" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 how-img">
                 <img src="/assets/images/HEROES.jpg" class="rounded-circle img-fluid" alt=""/>
            </div>
            <div class="col-md-6">
                <h4>HEROES</h4>
                            <h4 class="subheading">PEOPLE WITH SUPERPOWER TO SERVE SOCIETY BY DISTRIBUTING FOOD FROM THE DONORS TO THE WEAKER SECTION IN THE SOCIETY</h4>
                            <p class="text-muted">By loging In to this module user can serve the society by delivering food items from the charity donors to the most needy people of weaker sections in the society</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>CHARITY DONATION</h4>
                            <h4 class="subheading">PLATFORM FOR CHARITY DONATION</h4>
                            <p class="text-muted">By loging In user can share food donations for charity purpose.donated food items will be listed in heroes page as well as in the charity organization module. </p>
            </div>
            <div class="col-md-6 how-img">
                <img src="/assets/images/charity home.jpeg" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 how-img">
                 <img src="../../../assets/images/charityhomes copy.jpg" class="rounded-circle img-fluid" alt=""/>
            </div>
            <div class="col-md-6">
                <h4>SHELTER HOME ZONE</h4>
                            <h4 class="subheading">PLATFORM FOR CHARITY INSTITUTIONS/SHELTER HOMES</h4>
                            <p class="text-muted">By loging In to this module charity organization can find food donations offered by charity donors</p>
            </div>
        </div>
    </div>
</div>


