mat-card{
    position: relative;
    top:350px;
     width:400px;
 
}
.foodlist{
  background-image: url('../../../../assets/images/bellyboxeaterlogin.jpg');
  background-size: cover;
  width:100%;
  height:700px;
}
mat-form-field{
    width:100%
}
h1{
  position: relative;
  top:2rem;
  font-family:lakki;
}