<div  class="foodlist">
    <h1>lets see what we have today for empty bellies!!</h1>
       <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor = "let detail of foods">
  <mat-card class="example-card">
      <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{detail.foodname}}</mat-card-title>
      <mat-card-subtitle>{{detail.pickuppoint}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/eaterpagedoodpic.jpg" alt="Photo of a Shiba Inu">
          <mat-accordion >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h5>More Details</h5>
          </mat-expansion-panel-header>
      <p>PORTION:{{detail.portion}}</p>
      <p>DEAL ENDS IN:{{detail.dealdeadline}}</p>
      <p>LOCATION:{{detail.pickuppoint}}</p>
      <p>CONTACT NUMBER:{{detail.contactno}}</p>
      <mat-action-row>
       </mat-action-row>
  </mat-expansion-panel>
  </mat-accordion>
  </mat-card>
        </div>
      </div>
    </div>
  </div>
  
