<div class="charity">
<div class="charitypage">
  <h1>Enter Food Details </h1>
    <mat-card>
        <form (ngSubmit)=onaddfood() #charityform="ngForm">
                <mat-form-field>
                <input
                matInput name="foodname"
                ngModel type="text"
                placeholder="Enter Food Item"
                #FoodInput="ngModel"
                [(ngModel)]="foodItem.foodname"
                required
                minlength="5"
                >
                <mat-error *ngIf="FoodInput.invalid">Please enter a food item.</mat-error>
                </mat-form-field><br>
            <mat-form-field>
                <input
               matInput name="portion"
                ngModel type="text"
                placeholder="Portion"
                #PortionInput="ngModel"
                [(ngModel)]="foodItem.portion"
                required
                min="1"
                >
                <mat-error *ngIf="PortionInput.invalid">Please enter a valid portion.</mat-error>
                </mat-form-field><br>
                 
                <mat-form-field>
                    <input
                    matInput name="pickuppoint"
                    ngModel type="text"
                    placeholder="PICKUP POINT"
                    #PickupPointInput="ngModel"
                    [(ngModel)]="foodItem.pickuppoint"
                    required
                    minlength="8"
                    >
                    <mat-error *ngIf="PickupPointInput.invalid">Please Enter Pick up Point.</mat-error>
                    </mat-form-field><br>
                    <mat-form-field>
                        <input
                        matInput name="contactno"
                        ngModel type="text"
                        placeholder="Enter Contact Number"
                        #contactno="ngModel"
                        [(ngModel)]="foodItem.contactno"
                        required
                        minlength="8"
                        >
                        <mat-error *ngIf="contactno.invalid">Please Enter valid contact number.</mat-error>
                        </mat-form-field><br>
                        <mat-form-field>
                            <input
                            matInput name="dealdeadline"
                            ngModel type="datetime-local"
                            placeholder="Dealdeadline"
                            #deadline="ngModel"
                            [(ngModel)]="foodItem.dealdeadline"
                            required
                            minlength="10"
                            maxlength="10"
                           >
                            <mat-error *ngIf="deadline.invalid">Please Enter valid Date&Time.</mat-error>
                            </mat-form-field><br>
                          
            <button mat-raised-button
            color="primary"
             type="submit">Post Deal</button>
                 </form>
       
      </mat-card>
    </div>
    <div class="foodlist">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor = "let detail of getfoods">
      <mat-card class="example-card" >
          <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{detail.foodname}}</mat-card-title>
          <mat-card-subtitle>{{detail.pickuppoint}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/GOBI-MANCHURIAN.jpg" alt="Photo of a Shiba Inu">
              <mat-accordion >
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <h5>More Details</h5>
              </mat-expansion-panel-header>
          <p>PORTION:{{detail.portion}}</p>
          <p>DEAL ENDS IN:{{detail.dealdeadline}}</p>
          <p>LOCATION:{{detail.pickuppoint}}</p>
          <p>CONTACT NUMBER:{{detail.contactno}}</p>
          <mat-action-row>
          <button mat-button (click)=ondeletefood(detail._id)>DELETE</button>
          <button mat-button (click)=updatefood(detail)>UPDATE</button>
        </mat-action-row>
      </mat-expansion-panel>
      </mat-accordion>
      </mat-card>
      </div>
      </div>
    </div>
  </div>
</div>