<div class="container-fluid">
    <div class="title-arch">Let's Decide First<p>WHO YOU ARE!</p></div>
    
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project wow animated animated4 fadeInLeft">
            <div class="project-hover">
                <h2>WANT TO DONATE?</h2>
                
                <hr />
                <p>People who can make empty bellies happy by donating are called as DONOR MAN.Be a DONOR MAN!</p>
                <a routerLink="/donorlogin">LOGIN</a><br>
                <a routerLink="/about">KNOW MORE</a><br>
                <a routerLink="/donorsignup">Not a member? Then sign up!</a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-2 wow animated animated3 fadeInLeft">
            <div class="project-hover">
                <h2>WANT TO EAT?</h2>
                <hr />
                <p>People With empty bellies are called EATER.Login to be a EATER</p>
                <a routerLink="/eaterlogin">Login</a><br>
                <a routerLink="/about">KNOW MORE</a><br>
                <a routerLink="/eatersignup">Not a member? Then sign up!</a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-3 wow animated animated2 fadeInLeft">
            <div class="project-hover">
                <h2>WANT TO BE A HEROE?</h2>
                <hr />
                <p>People who have the superpower to identify empty bellies and can make them happy are called HERO!Login to be a HERO! </p>
                <a routerLink="/herologin">Login</a><br>
                <a routerLink="/about">KNOW MORE</a><br>
                <a routerLink="/herosignup">Not a member? Then sign up!</a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-4 wow animated fadeInLeft mt-3">
            <div class="project-hover">
                <h2>WANT TO DONATE FOOD FOR CHARITY?</h2>
                <hr />
                <p>Then this your place!!hurry up</p>
                <a routerLink="/charitylogin">Login</a><br>
                <a routerLink="/about">KNOW MORE</a><br>
                <a routerLink="/charitysignup">Not a member? Then sign up!</a>
            </div>
        </div>
     </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-5 wow animated fadeInLeft mt-3">
        <div class="project-hover">
            <h2>ARE YOU A SHELTER HOME?</h2>
            <hr/>
            <p>Then this is your place!login to fetch food donations.</p>
            <a routerLink="/shelterlogin">Login</a><br>
            <a routerLink="/about">KNOW MORE </a><br>
            <a routerLink="/sheltersignup">Not a member? Then sign up!</a>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-6 wow animated fadeInLeft mt-3">
        <div class="project-hover">
            <h2>CONTACT ADMIN</h2>
            <hr />
            <p>WE SERVE YOUR BELLIES</p>
            <a routerLink="/Complaintadmin">FOR DETAILS</a>
        </div>
    </div>
    <div class="clearfix"></div>

