body {
    background-color: indigo;
}

/*Remove that CSS*/
.col-md-3 {
  margin-left:5%;
  }
/*Remove that CSS*/



button {
margin: 20px 0;
line-height: 34px;
position: relative;
cursor: pointer;
user-select: none;
outline:none !important;
width:100%;
}

button:active {

outline:none;
}

button.ribbon {

outline:none;
outline-color: transparent;
}
button.ribbon:before, button.ribbon:after {
top: 5px;
z-index: -10;
}
button.ribbon:before {
border-color: #53dab6 #53dab6 #53dab6 transparent;
left: -25px;
border-width: 17px;
}
button.ribbon:after {
border-color: #53dab6 transparent #53dab6 #53dab6;
right: -25px;
border-width: 17px;
}

button:before, button:after {
content: '';
position: absolute;
height: 0;
width: 0;
border-style: solid;
border-width: 0;
outline:none;
}

button.btn-default:before {
border-color: #757575 #757575 #757575 transparent;
  }
  button.btn-default:after {
border-color: #757575 transparent #757575 #757575;
  }
  
  
  
  button.btn-primary:before {
border-color: #2e6da4 #2e6da4 #2e6da4 transparent;
  }
  button.btn-primary:after {
border-color: #2e6da4 transparent #2e6da4 #2e6da4;
  }
  
  
  button.btn-success:before {
border-color: #398439 #398439 #398439 transparent;
  }
  button.btn-success:after {
border-color: #398439 transparent #398439 #398439;
  }
  
  
  button.btn-info:before {
border-color: #269abc #269abc #269abc transparent;
  }
  button.btn-info:after {
border-color: #269abc transparent #269abc #269abc;
  }
  
  
  button.btn-warning:before {
border-color: #d58512 #d58512 #d58512 transparent;
  }
  button.btn-warning:after {
border-color: #d58512 transparent #d58512 #d58512;
  }
  
  
  button.btn-danger:before {
border-color: #ac2925 #ac2925 #ac2925 transparent;
  }
  button.btn-danger:after {
border-color: #ac2925 transparent #ac2925 #ac2925;
  }
  .title-arch {
    text-align: center;
    margin: 50px 0;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.project {
width: 100%;
height: 500px;
background-image: url(/assets/images/donor1.jpg);
background-size: cover;
background-position: center;
padding: 0 !important;
float:left;
}

.project-2 {
background-image: url(/assets/images/eater.jpeg);
}

.project-3 {
background-image: url(/assets/images/HEROES.jpg);
}

.project-4 {
background-image: url(/assets/images/charity\ home.jpeg );
}
.project-5{
  background-image:url(/assets/images/charityhomes\ copy.jpg) ;
}
.project-6{
  background-image:url(/assets/images/admin.jpg) ;
}

.project-hover {
width: 100%;
height: 100%;
color: #fff;
opacity: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(186, 232, 2, 0.7);
padding: 40% 30px !important;
}

.project-hover hr {
height: 30px;
width: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(255, 255, 255, 1);
border: 0;
}

.project-hover a {
color: rgba(255, 255, 255, 1);
padding: 2px 22px;
line-height: 40px;
border: 2px solid rgba(255, 255, 255, 1);
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
border-color: rgba(51, 51, 51, 1);
color: rgba(51, 51, 51, 1);
background-color: #FFF;
}

.project:hover .project-hover {
opacity: 1;
}

.project:hover .project-hover hr {
width: 100%;
height: 5px;
}


  