mat-card{
    position: relative;
    top:350px;
    left:400px;
  width:400px;
 
}
.eater{
  background-image: url('../../../../assets/images/eatersignup.jpg');
  background-size: cover;
  width:100%;
  height:1000px;
}
mat-form-field{
    width:100%
}
.donut{
    max-width:10%;
    max-height:10px;
    position: relative;
    top:100px;
    left:-3px
}