 <div class="contact">
  <section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="section-title">Love to Hear From You</h1>
            </div>
        </div>
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
              <p>Bellybox inc Ltd is very happy to serve their customers through better service.so its very important to get feedbacks from customers to evalutae us and improve our service</p>

              <div class="find-widget">
               Company:  <a href="https://bellybox.com">BellyBox </a>
              </div>
              <div class="find-widget">
               Address: <a href="#">Bellybox INC building,Trivandrum,kerala,India,695585</a>
              </div>
              <div class="find-widget">
                Phone:  <a href="#">+ 7034941564</a>
              </div>
              
              <div class="find-widget">
                Website:  <a href="https://uny.ro">www.bellybox.com</a>
              </div>
              <div class="find-widget">
                 Working Hour: <a href="#">Mon to Sat: 09:30 AM - 10.30 PM</a>
              </div>
            </div>
            </div>
    </div>

  </section>
</div>